<main>

  <nav class="navbar bg-body-tertiary ">
    <div class="container-fluid">
      <ul class="nav">
  <li class="nav-item" *ngFor="let action of actions">
    <button type="btn" class=" btn btn-outline-success ms-5" routerLink="{{action.route}}"
    [class]="action==currentAction?'active':''"
    (click)="setCurrentProduct(action)"
    >{{action.title}}</button>
  </li>

</ul>
    </div>
  </nav>

  <div class="card  my-5">
    <div class="card-body">
      <router-outlet></router-outlet>
      
    </div>
  </div>
 
</main>